{% extends 'base.html' %}

{% load static %}

{% block content %}


    <style>
        body {
            background-color: rgb(59, 160, 160);

        }

    </style>
    <style>
        body{
            max-width: 1000px;
            margin: auto;
        }
        p{
            text-indent: 50px;
        }
    </style>

    <h1 style="background-color: hwb(172 51% 9%);"><center>FAKULTAS KEDOKTERAN</center></strong></h1>
   <h2><strong> <center>Tentang Kami</center></strong></h2>
    <h3><strong>Sejarah</strong></h3>
    <center><img src="\static\images\fkuntirta.jpeg" width="400" height="250" alt=""></center>
        
    <p><font size="4"></font>Fakultas Kedokteran UNTIRTA merupakan fakultas baru di universitas Sultan Ageng Tirtayasa yang terbentuk sejak program studi pendidikan dokter disahkan berdasarkan SK Menteri Riset Teknologi dan Pendidikan Tinggi Republik Indonesia Nomor 283/KPT/I/2019. Program studi Kedokteran Untirta saat ini dibawah pengampuan FK UI.</p>
<br>
<br>
<br>
        <h3><strong>Jurusan/Program Studi yang ada di Fakultas Kedokteran</strong></h3>
        <h4><strong>Kedokteran</strong></h4>
        <h4><strong>Keperawatan</strong></h4>
        <h4><strong>Ilmu Gizi</strong></h4>
        <h4><strong>Ilmu Keolahragaan</strong></h4>
        <br>
        <br>
        <br>
        <h2>Daftar Nama Dosen Fakultas Kedokteran</h2>
        <table class="table table-success table-striped">
            <tr>
                <th>NIP</th>
                <th>Nama</th>
                <th>Tanggal Lahir</th>
                <th>Foto</th>
                <th>Email</th>
                <th>Fakultas</th>
                <th>Prodi</th>
                <th>Alamat</th>
            </tr>
            {% for dosen in dataDosen %}
            <tr>
                <td>{{ dosen.nip }}</td>
                <td>{{ dosen.nama }}</td>
                <td>{{ dosen.tanggal_lahir }}</td>
                <td>{{ dosen.foto }}</td>
                <td>{{ dosen.email }}</td>
                <td>{{ dosen.fakultas }}</td>
                <td>{{ dosen.prodi }}</td>
                <td>{{ dosen.alamat }}</td>
            </tr>
            {% endfor %}
        </table>
        <br>
        <h2>Daftar Nama Staf Fakultas Kedokteran</h2>
        <table class="table table-success table-striped">
            <tr>
                <th>NIP</th>
                <th>Nama</th>
                <th>Tanggal Lahir</th>
                <th>Foto</th>
                <th>Email</th>
                <th>Unit</th>
                <th>Alamat</th>
            </tr>
            {% for staf in dataStaf %}
            <tr>
                <td>{{ staf.nip }}</td>
                <td>{{ staf.nama }}</td>
                <td>{{ staf.tanggal_lahir }}</td>
                <td>{{ staf.foto }}</td>
                <td>{{ staf.email }}</td>
                <td>{{ staf.unit }}</td>
                <td>{{ staf.alamat }}</td>
            </tr>
            {% endfor %}
        </table>
        <br>
        <h2>Daftar Nama Mahasiswa Fakultas Kedokteran</h2>
        <table class="table table-success table-striped">
            <tr>
                <th>NIM</th>
                <th>Nama</th>
                <th>Tanggal Lahir</th>
                <th>Foto</th>
                <th>Email</th>
                <th>Fakultas</th>
                <th>Prodi</th>
                <th>Alamat</th>
            </tr>
            {% for mahasiswa in dataMahasiswa %}
            <tr>
                <td>{{ mahasiswa.nim }}</td>
                <td>{{ mahasiswa.nama }}</td>
                <td>{{ mahasiswa.tanggal_lahir }}</td>
                <td>{{ mahasiswa.foto }}</td>
                <td>{{ mahasiswa.email }}</td>
                <td>{{ mahasiswa.fakultas }}</td>
                <td>{{ mahasiswa.prodi }}</td>
                <td>{{ mahasiswa.alamat }}</td>
            </tr>
            {% endfor %}
            </table>

{% endblock %}